*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Fungal;
  src: url(../fonts/FungalVF.woff2);
}

@font-face {
  font-family: Velvelyne;
  font-style: normal;
  src: url(../fonts/Velvelyne-Book.otf);
}

@font-face {
  font-family: Bradford Mono;
  src: url(../fonts/BradfordMonoLL-Regular.otf);
}
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
}

#drawing {
  display: block;
  width: 100vw;
  height: 100vh;
}
.room-box {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  box-sizing: border-box;

  font-family: Fungal;
font-style: bold;
  font-size: 10px;
  line-height: 1.2;

  overflow: hidden;
}

.titel {
  font-family: Velvelyne; 
  font-size: 110px;
  text-align: left;
  letter-spacing: -0.25rem;
  display: flex;
}